# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Dados brutos (pesados, não versionar)
data/raw/*.csv
data/raw/*.xlsx

# Banco de dados local
*.db
*.sqlite

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env